@use 'sass:meta';
@use '../../common/src/lib/common' as common;
@use '@angular/material' as mat;
@import 'https://fonts.cdnfonts.com/css/lucida-sans';

@include common.apply-base-theme;

body {
  @include meta.load-css(
    '../../../node_modules/highlight.js/styles/a11y-light'
  );

  &.dark-mode {
    @include meta.load-css(
      '../../../node_modules/highlight.js/styles/a11y-dark'
    );
  }

  @include mat.sidenav-overrides(
    (
      container-shape: 0,
      container-width: 250px,
      container-divider-color: var(--mat-sys-outline-variant),
    )
  );
}
