body {
  /* Max width allowed by any chrome extension */
  width: 600px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.podfic-length-controls {
  display: flex;
}

.length-checkbox {
  margin-right: 8px;
}

.url-text-field {
  width: 100%;
}