<mat-toolbar role="heading" color="primary">
  <mat-toolbar-row>
    <a mat-icon-button href="index.html">
      <mat-icon svgIcon="logo"></mat-icon>
    </a>
    <span>AO3 Podfic Posting Helper</span>
    <span class="spacer"></span>
    <div class="toolbar-actions">
      <lib-theme-selector></lib-theme-selector>
      <a
        mat-icon-button
        aria-label="Submit feedback"
        href="https://github.com/LazyCats-dev/ao3-podfic-posting-helper/issues/new?title=%5BOptions%5D%3A%20"
        target="_blank"
        rel="noopener">
        <mat-icon>feedback</mat-icon>
      </a>
      <a
        mat-icon-button
        aria-label="Extension options"
        [href]="optionsPageUrl"
        target="_blank"
        rel="noopener">
        <mat-icon>settings</mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<main class="page-content">
  @switch (onAo3NewWorkPage | async) {
    @case (true) {
      <p>
        Fill in the URL of the fic you were inspired by below then click
        "Import". Anything already entered into the form may be deleted after
        clicking "Import"
      </p>
      <form
        [formGroup]="formGroup"
        *ngIf="tab | async as tabValue"
        (ngSubmit)="fillNewWorkForm(tabValue)">
        <div class="list" role="group">
          <div class="form-item">
            <mat-form-field class="url-text-field">
              <mat-label>URL of work to import from</mat-label>
              <input
                #urlInput
                matInput
                type="url"
                [formControl]="formGroup.controls.url" />
              @if (formGroup.controls.url.hasError('required')) {
                <mat-error>This field is required</mat-error>
              }
              @if (formGroup.controls.url.hasError('pattern')) {
                <mat-error>Must be an AO3 work URL</mat-error>
              }
              @if (formGroup.controls.url.hasError('injectedScriptError')) {
                <mat-error>
                  {{ formGroup.controls.url.getError('injectedScriptError') }}
                </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-item">
            <mat-checkbox [formControl]="formGroup.controls.podficLabel">
              Add the tag "Podfic"
            </mat-checkbox>
          </div>
          <div class="form-item">
            <mat-checkbox
              class="length-checkbox"
              [formControl]="formGroup.controls.podficLengthLabel">
              Add a "Podfic Length" tag
            </mat-checkbox>
            <mat-form-field>
              <mat-label>Podfic Length</mat-label>
              <mat-select [formControl]="formGroup.controls.podficLength">
                @for (option of podficLengthOptions; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-item">
            <div class="template-controls">
              <mat-form-field class="title-template-select">
                <mat-label>Title format</mat-label>
                <mat-select [formControl]="formGroup.controls.titleFormat">
                  <mat-option value="default">"[Podfic] " + title</mat-option>
                  <mat-option value="orig">Original title</mat-option>
                  <mat-option value="blank">Leave blank</mat-option>
                  <mat-option value="custom">Custom</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="summary-template-select">
                <mat-label>Summary format</mat-label>
                <mat-select [formControl]="formGroup.controls.summaryFormat">
                  <mat-option value="default">Summary + credits</mat-option>
                  <mat-option value="orig">Original summary</mat-option>
                  <mat-option value="blank">Leave blank</mat-option>
                  <mat-option value="custom">Custom</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-item">
            <mat-form-field class="audio-format-tags">
              <mat-label>"Audio Format" tags</mat-label>
              <mat-select
                multiple
                [formControl]="formGroup.controls.audioFormatTags">
                @for (format of podficFormatTagOptions; track format) {
                  <mat-option [value]="format">
                    {{ format }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <p>
            You can set up custom templates for sections of the form in the
            <a target="_blank" [href]="optionsPageUrl">options page</a>
          </p>
          <div class="form-item">
            @if (loading()) {
              <mat-spinner
                mode="indeterminate"
                diameter="36"
                aria-label="Importing please wait"></mat-spinner>
              Importing...
            } @else {
              <button type="submit" mat-raised-button color="primary">
                <mat-icon>import_export</mat-icon>
                Import
              </button>
            }
          </div>
        </div>
      </form>
    }
    @case (false) {
      <p>
        This extension can only be used on the AO3 page to create a new work,
        create a new work in a collection, or edit an existing work. Please go
        to a supported URL and click the extension icon again. To create a new
        work go to
        <a
          href="https://archiveofourown.org/works/new"
          target="_blank"
          rel="noopener"
          id="ao3-new-work">
          https://archiveofourown.org/works/new
        </a>
      </p>
    }
    @case (null) {
      <mat-spinner
        mode="indeterminate"
        aria-label="Loading extension"></mat-spinner>
    }
  }
</main>
