body {
    margin: 0;
}

.page-content {
    margin: 0 8px 8px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mdc-card {
    padding: 8px;
    max-width: 900px;
    width: 100%;
    margin: 16px;
}

h1 {
    margin: 0;
}

.actions {
    margin-top: 8px;
}

section {
    padding-top: 8px;
}

.about-section section:not(:last-of-type) {
    border-bottom: 1px inset rgba(0, 0, 0, 0.12);
}

.header-icon {
    margin-left: 4px;
}