body {
  /* Max width allowed by any chrome extension */
  width: 600px;
  margin: 0;
}

.page-content {
  margin: 0 8px 8px 8px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 4px;
}

.podfic-length-controls {
  display: flex;
}

.length-checkbox {
  margin-right: 8px;
}

.url-text-field {
  width: 100%;
}

h1 {
  margin: 0;
}
