--- --- @import "{{ site.theme }}";

.button {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(153, 0, 0);
    color: white;
    width: 200px;

    // Stolen from MDC
    &:hover {
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    }

    &:hover,
    &:focus {
        color: white;
        font-weight: normal;
    }

    .logo {
        height: 40px;
        width: 40px;
        margin-right: 8px;
    }
}