---
---

@import "{{ site.theme }}";

.download-button {
    display: flex;
    align-items: center;
    height: 40px;
    border: solid 1px black;
    margin-bottom: 16px;

    .download-logo {
        height: 40px;
        width: 40px;
        margin-right: 8px;
    }
}