body {
  margin: 0;
  display: flex;
  height: 100vh;
}

code {
  border: 1px inset rgba(0, 0, 0, 0.12);
}

pre,
code {
  margin: 0;
  white-space: pre-wrap;
}

.page-content {
  margin: 0 8px 8px 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  overflow: auto;
  height: 100%;
  scroll-behavior: smooth;
}

.mdc-card {
  padding: 8px;
  margin: 16px;
}

h1 {
  margin: 0;
}

.actions {
  margin-top: 8px;
}

.actions > .mdc-button {
  margin-right: 8px;
}

.main-section {
  padding-top: 8px;
  width: 100%;
  max-width: 900px;
}

.about-section section:not(:last-of-type) {
  border-bottom: 1px inset rgba(0, 0, 0, 0.12);
}

.header-icon {
  margin-left: 4px;
}

textarea.code-editor-textarea {
  font-family: "Roboto Mono", Courier, monospace;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}

@keyframes highlight {
  0% {
    background-color: rgba(0, 0, 0, 0.33);
  }
  100% {
    background-color: revert;
  }
}

section:target .mdc-card {
  animation: highlight 1s ease-out 0.15s;
}
