@use "theming";

body {
  /* Max width allowed by any chrome extension */
  width: 600px;
  margin: 0;
}

.page-content {
  margin: 0 8px 8px 8px;
}

.list {
  margin: 0;
  padding: 0;
}

.form-item {
  margin-bottom: 8px;
}

.podfic-length-controls {
  display: flex;
}

.template-controls {
  display: flex;
}

.title-template-select {
  width: 40%;
  margin-right: 8px;
}

.summary-template-select {
  width: 55%;
}

.length-checkbox {
  margin-right: 8px;
}

.url-text-field {
  width: 100%;
}

h1 {
  margin: 0;
}

.header-icon {
  margin-left: 4px;
}

#audio-format-tags {
  display: inline-flex;
}

.audio-format-tags-container {
  display: flex;
  align-items: center;
}
