@use "@material/theme" with (
  $primary: #900,
  $secondary: #900,
  $background: #fff,
);

@use "@material/button/mdc-button";
@use "@material/icon-button/mdc-icon-button";
@use "@material/card/mdc-card";
@use "@material/checkbox/mdc-checkbox";
@use "@material/chips/deprecated/mdc-chips";
@use "@material/form-field/mdc-form-field";
@use "@material/list/mdc-list";
@use "@material/menu/mdc-menu";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/ripple/mdc-ripple";
@use "@material/select/mdc-select";
@use "@material/snackbar/mdc-snackbar";
@use "@material/textfield/mdc-text-field";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";

@use '@material/web/color/color';

:root {
  --md-sys-color-primary: #900;
  --md-sys-color-secondary: #900;
  --md-sys-color-background: #fff;
  --md-sys-color-on-surface-variant: #fff;
  --md-sys-color-surface-container-highest: whitesmoke;
  --md-filled-text-field-label-text-color: rgba(0, 0, 0, 0.6);
  --md-filled-text-field-hover-label-text-color: var(--md-filled-text-field-label-text-color);
  --md-checkbox-outline-color: rgba(0, 0, 0, 0.87);
}

md-icon {
  --md-icon-font: 'Material Icons';
}
