name: Publish to extension stores

on:
  release:
    types: [published]

jobs:
  build-extension:
    name: Build extension artifact
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '16.10'

      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: |-
          npm run build
          zip -r extension-${{ github.sha }}.zip dist

      - name: Archive chrome-extension artifact
        uses: actions/upload-artifact@v4
        with:
          name: extension-${{ github.sha }}
          path: extension-${{ github.sha }}.zip
  upload-and-publish-to-google-chrome-webstore:
    name: Upload and publish to Google Chrome Webstore
    runs-on: ubuntu-latest
    needs: build-extension
    env:
      EXTENSION_ID: liceoplaldpcfdkndimfppgdcbophgma

    steps:
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '16.10'

      - name: Download bundle artifact
        uses: actions/download-artifact@v4
        with:
          name: extension-${{ github.sha }}

      - name: Install webstore cli
        run: |-
          npm install -g chrome-webstore-upload-cli

      - name: Upload and publish
        run: |-
          chrome-webstore-upload \\
            --source extension-${{ github.sha }}.zip \\
            --extension-id ${{ env.EXTENSION_ID }} \\
            --client-id ${{ secrets.GOOGLE_CHROME_WEBSTORE_API_OAUTH_CLIENT_ID }} \\
            --client-secret ${{ secrets.GOOGLE_CHROME_WEBSTORE_API_OAUTH_CLIENT_SECRET }} \\
            --refresh-token ${{ secrets.GOOGLE_CHROME_WEBSTORE_API_OAUTH_REFRESH_TOKEN }}
