name: Publish to extension stores

on:
  release:
    types: [published]

jobs:
  build-extension:
    name: Build extension artifact
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4.4.0
        with:
          node-version: '22'

      - name: Checkout
        uses: actions/checkout@v5

      - name: Create source archive
        run: zip -r source-${{ github.sha }}.zip .

      - name: Install
        run: npm install

      - name: Build release
        run: npm run release

      - name: Create archive
        run: |-
          (cd dist && zip -r ../extension-${{ github.sha }}.zip .)

      - name: Upload extension artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: extension-${{ github.sha }}
          path: extension-${{ github.sha }}.zip

      - name: Upload source artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: source-${{ github.sha }}
          path: source-${{ github.sha }}.zip

  upload-and-publish-to-google-chrome-webstore:
    name: Upload and publish to Google Chrome Webstore
    runs-on: ubuntu-latest
    needs: build-extension
    env:
      EXTENSION_ID: liceoplaldpcfdkndimfppgdcbophgma

    steps:
      - name: Download bundle artifact
        uses: actions/download-artifact@v5
        with:
          name: extension-${{ github.sha }}

      - name: Upload and publish
        uses: wdzeng/chrome-extension@v1.3.0
        with:
          extension-id: liceoplaldpcfdkndimfppgdcbophgma
          zip-path: extension-${{ github.sha }}.zip
          client-id: ${{ secrets.GOOGLE_CHROME_WEBSTORE_API_OAUTH_CLIENT_ID }}
          client-secret: ${{ secrets.GOOGLE_CHROME_WEBSTORE_API_OAUTH_CLIENT_SECRET }}
          refresh-token: ${{ secrets.GOOGLE_CHROME_WEBSTORE_API_OAUTH_REFRESH_TOKEN }}

  upload-and-publish-to-mozilla-firefox-addons:
    name: Upload and publish to Mozilla Firefox Addons
    runs-on: ubuntu-latest
    needs: build-extension

    steps:
      - name: Download bundle artifact
        uses: actions/download-artifact@v5
        with:
          name: extension-${{ github.sha }}

      - name: Download source artifact
        uses: actions/download-artifact@v5
        with:
          name: source-${{ github.sha }}

      - name: Upload and publish
        uses: wdzeng/firefox-addon@v1.2.0
        with:
          addon-guid: ao3-podfic-helper@github.com
          xpi-path: extension-${{ github.sha }}.zip
          self-hosted: false
          jwt-issuer: ${{ secrets.MOZILLA_FIREFOX_ADDONS_API_JWT_ISSUER }}
          jwt-secret: ${{ secrets.MOZILLA_FIREFOX_ADDONS_API_JWT_SECRET }}
          source-file-path: source-${{ github.sha }}.zip
          approval-notes: ${{ secrets.EXTENSION_INSTRUCTIONS }}

  upload-and-publish-to-microsoft-edge-addons:
    name: Upload and publish to Microsoft Edge Addons
    runs-on: ubuntu-latest
    needs: build-extension

    steps:
      - name: Download bundle artifact
        uses: actions/download-artifact@v5
        with:
          name: extension-${{ github.sha }}

      - name: Upload and publish
        uses: wdzeng/edge-addon@v2.1.0
        with:
          product-id: 36cbee63-3b81-4f9e-94f8-ea9585396e41
          zip-path: extension-${{ github.sha }}.zip
          api-key: ${{ secrets.MICROSOFT_EDGE_PUBLISH_API_API_KEY }}
          client-id: ${{ secrets.MICROSOFT_EDGE_PUBLISH_API_CLIENT_ID }}
          notes-for-certification: ${{ secrets.EXTENSION_INSTRUCTIONS }}
